:root {
    --tipografia-facebook: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    --color-rojo-autostyle: red;
    --color-verde-facebook: #42b72a;
    --color-gris-formulario: #393a3b;
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-negro-carros: #191919;
    --color-rojo-autostyle-hover: #d15146;
    --color-gris-nav: #d2d4d5;
    --color-nav: #0c3779;
    --color-text-nav: #ffffff;
    --color-verde: #43df72;
    --color-verde-1: #3dca67;
    --color-verde-oscuro: #39884d;
    --color-verde-oscuro-1: #327744;
    --color-gris-fondo: #f4f4f4;
    --color-azul: #326fac;
}

/*NAVBAR*/
nav{
    background-color: var(--color-nav);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 75px;
}
.logo-nav img{
    width: 330px;
    padding-left: 30px;
}
.div-menu{
    display: flex;
    align-items: center;
}
.div-menu ul{
    display: flex;

}
.div-menu li{
    margin: 0 1rem;
    list-style: none;
    display: flex;
}
.div-menu li:hover{
    background-color: #294799;
    border-radius: 10px;
}
.div-menu a{
    color: var(--color-text-nav);
    text-decoration: none;
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.div-menu a img{
    width: 35px;
    padding: 0 5px;
}
.login{
    background-color: var(--color-verde);
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.login:hover{
    background-color: var(--color-verde-1);
}
.register{
    background-color: var(--color-verde-oscuro);
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.register:hover{
    background-color: var(--color-verde-oscuro-1);
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}

@media (max-width:1093px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .div-menu ul{
        display: block;
        position: fixed;
        top: 60px;
        left: -200%;
        background-color: #3a8ddfe6;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .div-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .login{
        background-color: none;
        padding: 1rem;
    }
    .register{
        background-color: none;
        padding: 1rem 5rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
}

@media (max-width:768px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .div-menu ul{
        display: block;
        position: fixed;
        top: 60px;
        left: -200%;
        background-color: #3a8ddfe6;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .div-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .login{
        background-color: none;
        padding: 1rem 4rem;
    }
    .register{
        background-color: none;
        padding: 1rem 5rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
        padding: 0;
    }
}

/*NAVBAR*/



body {
    background: var(--color-negro-carros);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
}

.seccion-1,
.seccion-2,
.fondo-blanco {
    display: flex;
    justify-content: center;
    align-items: center;
}


.seccion-1 img {
    width: 800px;
}

.seccion-2,
.fondo-blanco {
    flex-direction: column;
}


.fondo-blanco {
    background: var(--color-gris-formulario);
    border-radius: 10%;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario input[type="email"],
.formulario input[type="password"] {
    padding: 14px 16px;
    width: 330px;
    outline: 1px solid var(--color-gris-formulario);
    margin: 13px;
}

.formulario input:focus-visible {
    border: 1px solid var(--color-rojo-autostyle);
}


.btn-inicio-sesion {
    width: 330px;
    height: 52px;
    background-color: var(--color-rojo-autostyle);
}


.btn-inicio-sesion,
.btn-crear-cuenta {
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    transition: all 200ms;
    cursor: pointer;
}

.btn-inicio-sesion a,
.btn-crear-cuenta a {
    color: var(--color-blanco);
    width: 190px;
    height: 50px;
}


.btn-inicio-sesion:hover {
    background-color: var(--color-rojo-autostyle-hover);
}

.enlace-olvide {
    padding: 20px 0 0;
    color: var(--color-blanco);
}

.separador {
    border-top: 1px solid #808080;
    margin: 10px 0;
    width: 80%;
}

.btn-crear-cuenta {
    background-color: var(--color-rojo-autostyle);
    width: 190px;
    height: 50px;
    margin: 20px;
}

.btn-crear-cuenta:hover {
    background-color: var(--color-rojo-autostyle-hover);
}

@media (max-width:900px) {
    .contenedor {
        display: block;
    }

    .seccion-1 {
        transform: scale(0.5);
        position: relative;
        z-index: -9;
    }

    .fondo-blanco {
        margin-bottom: 100px;
    }
}