:root{
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-gris-nav: #d2d4d5;
    --color-rojo-autostyle: red;
    --color-nav: #0c3779;
    --color-text-nav: #ffffff;
    --color-verde: #43df72;
    --color-verde-1: #3dca67;
    --color-verde-oscuro: #39884d;
    --color-verde-oscuro-1: #327744;
    --color-gris-fondo: #f4f4f4;
    --color-azul: #326fac;
    --color-blanco: #fff;
    --color-footer: #5c6a75;
    --color-facebook: #3f75e1;
    --color-youtube: #dd4040;
    --color-instagram: #ca39d2;
    --color-twitter: #3ab4cf;
}

/*NAVBAR*/
nav{
    background-color: var(--color-nav);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 75px;
}
.logo-nav img{
    width: 300px;
    padding-left: 30px;
}
.div-menu{
    display: flex;
    align-items: center;
}
.div-menu ul{
    display: flex;

}
.div-menu li{
    margin: 0 1rem;
    list-style: none;
    display: flex;
}
.div-menu li:hover{
    background-color: #294799;
    border-radius: 10px;
}
.div-menu li:hover{
    background-color: #294799;
    border-radius: 10px;
}
.div-menu a{
    color: var(--color-text-nav);
    text-decoration: none;
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.div-menu a img{
    width: 25px;
    padding: 0 5px;
}
.login{
    background-color: var(--color-verde);
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.login:hover{
    background-color: var(--color-verde-1);
}
.register{
    background-color: var(--color-verde-oscuro);
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.register:hover{
    background-color: var(--color-verde-oscuro-1);
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}

@media (max-width:1093px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .div-menu ul{
        display: block;
        position: fixed;
        top: 60px;
        left: -200%;
        background-color: #3a8ddfe6;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .div-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .login{
        background-color: none;
        padding: 1rem;
    }
    .register{
        background-color: none;
        padding: 1rem 5rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
        padding: 0;
    }
    .secciones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .empresa h2, .menu-footer h2{
        font-size: 20px;
    }
    .empresa ul li, .menu-footer ul li{
        font-size: 18px;
    }
    .div-logo-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20% !important;
    }
}

@media (max-width:768px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .div-menu ul{
        display: block;
        position: fixed;
        top: 60px;
        left: -200%;
        background-color: #3a8ddfe6;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .div-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .login{
        background-color: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
        padding: 0;
    }
    .register{
        background-color: none;
        padding: 1rem 5rem;
    }
    .div-logo-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10% !important;
    }
    .div-footer-web{
        width: 184px !important;
    }
    .img-footer {
        width: 22px !important;
        height: 15px !important;
        padding: 8px !important;
    }
}
@media (max-width:576px){
    .filtros{
        display: none !important;
    }
    .section-all-product{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10% 260px;
    }
} 
/* FILTROS */
.section-all{
    display: grid;
    grid-template-columns: 30% 70%;
}
.filtros{
    display: flex;
    justify-content: start;
    padding: 10% 30%;
}
.div-filtros{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}
.img-buscador{
    width: 10%;
}
.lbl, .lbl-1{
    display: inline-block;
    width: 36px;
    height: 20px;
    background-color: #979797;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .2s;
}
.lbl::after, .lbl-1::after{
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: #eee;
    border-radius: 100px;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: .2s;
}
.span-result, .div-checkbox{
    display: flex;
    align-items: center;
}
.marca{
    font-size: 1.5rem;
}
.div-marca ul{
    padding: 0;
}
.div-marca li{
    list-style: none;
    padding: 2% 0;
}
.mostrar-mas a{
    color: rgb(85, 191, 230) !important;
}
.div-marca a{
    text-decoration: none;
    color: #979797;
}
.div-sections-nav:hover{
    border-bottom: 3px solid var(--color-text-nav);
    background-color: rgb(190, 190, 190);
}
.div-end-nav, .div-end-nav a{
    display: flex;
    justify-content: end;
    align-items: center;
}
#border-contact{
    border-right: 1px solid var(--color-text-nav);
}
.input-m{
    width: 30%;
    border-radius: 6px;
    border: 1px solid #979797;
    padding: 1% 5%;
}
::placeholder{
    color: #979797;
}
/*PRODUCTOS*/

.secciones{
    display: flex;
    justify-content: center;
}

.logos-title{
    display: flex;
    justify-content: center;
    padding: 2% 0;
}

.secciones img{
    width: 100%;
    height: 60%;
    border-radius: 10%;
}

.secciones div{
    box-shadow: 0 0 8px var(--color-gris-nav);
    border-radius: 10%;
    width: 350px;
    height: 350px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-article{
    cursor: pointer;
}
.div-article:hover{
    transform: scale(1.013);
    position: relative;
    z-index: -100;
}

.div-article h3{
    border: 1px solid var(--color-gris-nav);
    padding: 5% 10%;
    border-radius: 100px;
    font-size: 18px;
}
.secciones button{
    background-color: var(--color-rojo-autostyle);
    color: var(--color-blanco);
    border: none;
    padding: 2% 10%;
    border-radius: 6px;
    cursor: pointer;
}
.secciones button:hover{
    background-color: #c92222;
}

.img-logos{
    width: 130px;
}

footer{
    padding-top: 2%;
    background-color: var(--color-footer);
    color: var(--color-blanco);
}
.enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
}
.empresa{
    border-right: 1px solid #a0a0a0;
}
.empresa, .menu-footer{
    padding: 0 5%;
    font-size: 20px;
}
.empresa ul, .menu-footer ul{
    padding: 0;
}
.empresa li, .menu-footer li{
    list-style: none;
    padding: 2% 0;
}
.empresa a, .menu-footer a{
    text-decoration: none;
    color: var(--color-gris-nav);
    font-size: 18px;
}
.div-footer-web{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30%;
}
.img-footer{
    width: 30px;
    height: 21px;
    padding: 10px;
}
.sitios-web, .sitios-web1, .sitios-web2, .sitios-web3{
    padding: 0.1% 4.13%; 
    border-top: 1px solid var(--color-gris-nav);
    border-bottom: 1px solid var(--color-gris-nav);
}
.sitios-web a, .sitios-web1 a, .sitios-web2 a, .sitios-web3 a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    color: var(--color-blanco);
}
.sitios-web:hover{
    background-color: var(--color-facebook);
}
.sitios-web1:hover{
    background-color: var(--color-instagram);
}
.sitios-web2:hover{
    background-color: var(--color-youtube);
}
.sitios-web3:hover{
    background-color: var(--color-twitter);
}
.div-logo-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30%;
}
.div-logo-footer p{
    font-size: 11px;
}
.logo-footer{
    width: 150px;
    margin: 3% 0;
}